<div class="header">
<h1>BurgerBash!</h1>
<img src="https://www.redrobin.com/content/dam/web/menu/tavern-menu/sir-acha-tavern-double-burger-217.jpg" alt="Your favorite burger!">
</div>

<div class="row">
<div class="col-lg-3">
</div>
<div class="col-lg-3 eatList">
  <h3>Eat the Burger</h3>
  <ul>
    {{#each burgers}}
    {{#unless this.devoured}}
<p>
      {{ this.burger_name }}

      <form action="/{{this.id}}?_method=PUT" method="POST">
    <input type="hidden" name="devour" value="true">
<button type="submit" class="btn btn-success">Devour</button>
  </form>
</p>

    {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="col-lg-5 ateList">
<h3>You ATE the Burger</h3>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}

        {{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
        </form>

    {{/if}}
  {{/each}}
</ul>
</div>
<div class="col-lg-3">
</div>
</div>

<div class="addBurger">
<h3>Add the Burger</h3>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
<button type="submit" class="btn btn-primary btn-lg">Add a Burger</button>
</form>
</div>
